body {
	margin: 0 auto;
}
#main-quiz-div {
	margin: 50px auto;
	position: relative;
	background: #FCFCFC;
	box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
    border-radius: 2px;
    width: 600px; 
}
#intro {
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
}

#instructions {
	display: none;
	font-family: 'News Cycle', sans-serif;
	font-size: 30px;
	text-align: center;
}
#start-button{

	display: inline-block;
}
.question-container{
	/*border: 1px solid red;*/
	box-shadow:0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
}
.nav-container{
	width: 110px;
	height: 60px;
	margin: 0 auto;
}
#start-button {
	display: none;
	font-family: 'News Cycle', sans-serif;
	width:100px;
	height: 50px;
	color: #fff;
	background-color: #27ae60;
	border: 0;
	border-radius: 5px;
	box-shadow: 1.75px 1.75px #1e8449;
}
.next-button {
	font-family: 'News Cycle', sans-serif;
	width:100px;
	height: 50px;
	color: #fff;
	background-color: #2980b9;
	border: 0;
	border-radius: 5px;
	box-shadow: 1.75px 1.75px #2472a4;
}
#finish-button {
	font-family: 'News Cycle', sans-serif;
	width:100px;
	height: 50px;
	color: #fff;
	background-color: #c0392b;
	border: 0;
	border-radius: 5px;
	box-shadow: 1.75px 1.75px #962d22;
	}

.questions-panel {
	display:block;
	width: 600px;
	height: 400px;
}
.answer-bars{
	margin: 0 auto;
	list-style-type: none;
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	padding-left: 0;
}
#images {
	margin-left: auto;
	margin-right: auto;
}
